.boy {
  background-color: aqua;
}
.girl {
  background-color: pink;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 55vw;
  height: min-content;
}

li {
  border-radius: 5px;
  margin: 2.5px;
  padding: 5px;
}

.names-container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: min-content;
  margin-top: 5%;
}

button {
  background-color: transparent;
  border: none;
}
