.boy {
  background-color: aqua;
}
.girl {
  background-color: pink;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 55vw;
  height: min-content;
}

li {
  border-radius: 5px;
  margin: 2.5px;
  padding: 5px;
}

.names-container {
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  margin-top: 5%;
}

li button {
  background-color: transparent;
  border: none;
}

.favourites-container {
  display: flex;
}

.favourite-p {
  margin-left: 200px;
}

.favourites-container p {
  font-weight: 300;
  font-size: 25px;
  color: grey;
}

button {
  border: none;
  border-radius: 3px;
}
